#root {
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hero-gradiant {
  background-image:
    radial-gradient(
      77% 116% at 37% 67%,
      rgb(238, 165, 186),
      rgba(238, 165, 186, 0) 50%
    ),
    radial-gradient(
      56% 84% at 34% 56%,
      rgb(58, 139, 253),
      rgba(58, 139, 253, 0) 50%
    ),
    radial-gradient(
      85% 127% at 100% 100%,
      rgb(228, 199, 149),
      rgba(228, 199, 149, 0) 50%
    ),
    radial-gradient(
      82% 122% at 3% 29%,
      rgb(133, 90, 252),
      rgba(133, 90, 252, 0) 50%
    ),
    radial-gradient(
      90% 136% at 52% 100%,
      rgb(253, 58, 78),
      rgba(253, 58, 78, 0) 50%
    ),
    radial-gradient(
      102% 143% at 92% 7%,
      rgb(114, 254, 125),
      rgba(114, 254, 125, 0) 50%
    );
  /* background-size: 40px 40px; */
}

.whatsapp-chat-button {
  height: 50px;
  min-width: 50px;
  border-radius: 25px;
  background-color: rgb(77, 194, 71);
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.whatsapp-logo {
  width: 46px;
  height: 46px;
  fill: rgb(255, 255, 255);
  z-index: 1;
}
